body{

  margin:0;

  font-family:Arial;

  background:#f3f4f6;

}


/* =========================
   NAVBAR
========================= */

.navbar{

  position:sticky;

  top:0;

  z-index:999;

  background:#000;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:20px 40px;

}


.logo{

  font-size:34px;

  font-weight:bold;

  color:white;

}


.nav-links{

  display:flex;

  gap:35px;

  list-style:none;

}


.nav-links a{

  text-decoration:none;

  color:white;

  font-size:18px;

  transition:0.3s;

}


.nav-links a:hover{

  color:#60a5fa;

}


.nav-right{

  display:flex;

  align-items:center;

  gap:15px;

}


#searchInput{

  padding:10px 15px;

  border:none;

  border-radius:12px;

}


.search-btn{

  border:none;

  background:#2563eb;

  color:white;

  padding:10px 15px;

  border-radius:12px;

  cursor:pointer;

}


.dark-btn{

  border:none;

  background:#111827;

  color:white;

  padding:10px 16px;

  border-radius:12px;

  cursor:pointer;

}


.languages{

  display:flex;

  gap:10px;

}


.languages button{

  border:none;

  background:#1f2937;

  color:white;

  padding:10px 14px;

  border-radius:10px;

  cursor:pointer;

}


/* =========================
   HERO
========================= */

.hero{

  height:90vh;

  background:url('https://images.unsplash.com/photo-1554224155-8d04cb21cd6c?q=80&w=1400')
  center/cover;

  display:flex;

  justify-content:center;

  align-items:center;

}


.hero-overlay{

  background:rgba(0,0,0,0.5);

  padding:50px;

  border-radius:20px;

  text-align:center;

  color:white;

}


.hero-overlay h1{

  font-size:70px;

}


.hero-overlay p{

  font-size:28px;

}